<!--kanban-board-card-template -->
<div class="task-board-card" id="id02" draggable="true" ondragstart="cardDragged(event)" ondragend="cardDragEnd(event)">
    <div class="task-card-inner-hug">
        <div class="task-card-header">
            <div class="task-category">Category 1</div>
        </div>
        <div class="task-card-body">
            <div class="task-card-title">
                <span>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                </span>
            </div>
            <div class="task-card-description">
                <span>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum dolor sit ame
                </span>
            </div>
            <div class="subtask-progress-indicator">
                <div class="subtask-indicator-bar">
                    <div class="subtask-indicator-bar100">
                        <div class="subtask-indicator-bar-current" style="width: calc(1/2*100%);"></div>
                    </div>
                </div>
                <div class="subtask-indicator-in-number">
                    <span>1/2 Subtasks</span>
                </div>
            </div>
            <div class="task-assigned-contact-and-priority-indicator">
                <div class="assigned-contact-indicator">
                    <span></span>
                    <div class="board-card-assigned-contact-badge left0" style="background-color: red;">AB</div>
                    <div class="board-card-assigned-contact-badge left1" style="background-color: green;">CD</div>
                    <div class="board-card-assigned-contact-badge left2" style="background-color: blue;">EF</div>
                    <div class="board-card-assigned-contact-badge left3" style="background-color: rgb(154, 148, 148);">
                        GH</div>
                </div>
                <div class="priority-indicator">
                    <img src="../assets/ui-icons/urgent.svg" alt="urgent.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<!--kanban-board-card-template -->


<!-- template  taskDialogContentTemplate-->

<div class="dialog-task-board-card" id="${task.id}">
    <div class="dialog-task-card-inner-hug">
        <header class="dialog-task-card-header">
            <div class="task-category ${convertStringToclass(task.category)}">${task.category}</div>
            <button type="button" onclick="toggleDialog('dialogOpenBigCard')" class="dialog-close-btn">x</button>
        </header>



        <div class="dialog-task-card-body">

            <h3 class="dialog-task-card-title">
                ${task.title}
            </h3>
            <p class="dialog-task-card-description">
                ${task.description}
            </p>

            <section class="dialog-task-card-due-date">
                <span>Due Date: </span> <span>${task.date}</span>
            </section>

            <section class="dialog-task-card-priority">
                <span>Priority: </span> <span>${task.priority[0].charAt(0).toUpperCase() + task.priority.slice(1)}
                    <img src="../assets/ui-icons/${task.priority}.svg" alt="${task.priority}"></span>
            </section>

            <section class="dialog-task-card-contacts">
                <p>Assigned To:</p>
                ${catchZeroContact(task.contactSelect, contactListJsonLibrary)}
            </section>

            <section>
                <p>Subtasks</p>
                <div class="dialog-subtasks">
                    ${dialogSubtask(task.subtasks)}
                </div>
            </section>

        </div>
        <footer class="dialog-task-card-footer">
            <button class="dialog-task-card-btn"><img src="../assets/ui-icons/delete.svg" alt="delete Button">
                Delete</button>
            <button class="dialog-task-card-btn border-left-btn" onclick="toggleDialog('dialogEditTask')"><img
                    src="../assets/ui-icons/edit.svg" alt="edit Button"> Edit</button>
        </footer>

    </div>

    <header class="dialog-task-card-header">
        <div class="task-category ${convertStringToclass(task.category)}">${task.category}</div>
        <button type="button" onclick="toggleDialog('dialogOpenBigCard')" class="dialog-close-btn">
            <img src="../assets/ui-icons/Close.svg" alt="Schliessen">
        </button>
    </header>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eveniet aperiam nulla iure quisquam 
        temporibus ea distinctio nisi consequatur inventore deserunt fugiat saepe harum asperiores sed, ullam voluptatum maxime vero!
    </p>