<!-- expanded contact card template -->
<div class="contact-main-expanded-card">
    <div class="contact-expanded-name-and-functions">
        <div class="contacts-member-circle-initial-expanded">AS</div>
        <div class="contacts-member-name-and-functions-expanded">
            <div class="contacts-member-name-expanded">Anja Schulz</div>
            <div class="contacts-member-functions">
                <div class="function-edit">
                    <img src="../assets/ui-icons/edit.svg" alt="edit.svg">
                    <span>Edit</span>
                </div>
                <div class="function-delete">
                    <img src="../assets/ui-icons/delete.svg" alt="delete.svg">
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-info-txt"><span>Contact Information</span></div>
    <div class="contact-telephone-and-email-parent">
        <div class="contact-email-txt"><span>Email</span></div>
        <div class="contact-email" id="contactEmail"><a href="mailto:antom@gmail.com">antom@gmail.com</a></div>
        <div class="contact-phone-txt"><span>Phone</span></div>
        <div class="contact-phone" id="contactPhone"><a href="tel:+4911111111111">+49111 111 111
                11</a></div>
    </div>
</div>
<!--expanded contact card template   -->

<!--contact card letter border template  -->
<div class="contact-card letter-border">
    <div class="leter-border-letter-box">A</div>
    <div class="letter-border-line"></div>
</div>
<!--contact card letter border template  -->


<!-- contact card contacts member template -->
<div class="contact-card contacts-member" onclick="clicked(this)">
    <div class="contacts-member-circle-initial"><span>AS</span></div>
    <div class="contacts-member-name-and-email-parent">
        <div class="contacts-member-name"><span>Anja Schulz</span></div>
        <div class="contacts-member-email"><span>schulz@hotmail.com</span></div>
    </div>
</div>
<!-- contact card contacts member template -->