label.required::after {
    content: "*";
    color: red;
}

p.required::before {
    content: "*";
    color: red;
}

hr{
    margin:0;
}

h2{
    font-size: 4rem;
}
label, legend{
    font-size: 1.25rem;
}

input, select{
    width: 440px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea{
    width: 440px;
    height: 136px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-left: 120px;
    max-width: 1210px;
}

.add-task-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.add-task-content{
    display: flex;
    gap: 2rem;
}

.add-task{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:2rem;
}
.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

fieldset{
    border: none;
    padding-inline: 0;
    gap: 0.5rem;
    margin: 0;
}

.priority-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 440px;
    height: 48px;
}

.priority-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Ausgewählte Farben */
.priority-btn.selected.urgent {
    background: #FF3D00;
    color: white;
    border-color: #FF3D00;
}

.priority-btn.selected.medium {
    background: #FFA800;
    color: white;
    border-color: #FFA800;
}

.priority-btn.selected.low {
    background: #7AE229;
    color: white;
    border-color: #7AE229;
}

.priority-btn.selected img {
    filter: brightness(0) invert(1);
}

.add-task-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.add-task-buttons{
    display: flex;
    gap: 0.5rem;
}

.add-task-footer button{
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-main{
    background-color: var(--main-color);
    color: white;
}

.btn-secondary{
    background-color: white ;
}