@media (min-width:768px) and (max-width:1024px) {
    h3 {
        font-size: 1rem;
    }

    .task-category {
        font-size: 0.75rem;
        width: 98%;
        padding: 6px;
    }
}

@media (max-width: 768px) {
    .summary-header {
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 24px;
    }

    .input-task-btn {
        display: contents;
        /* Kinder werden zu direkten Flex-Items von .summary-header */
    }

    .summary-header h2 {
        order: 1;
    }

    .add-task-btn {
        order: 2;
        height: unset;
        padding: 12px;
    }

    .search-wrapper-ext-hug {
        order: 3;
        flex-basis: 100%;
        margin-top: 10px;
    }

    .btn-text {
        display: none;
    }

    .kanban-board {
        width: 100%;
        padding: 8px;
        flex-direction: column;
        justify-content: unset;
        overflow: auto;
        gap: 0;
    }

    .progress-tasks {
        width: 100%;
        gap: 0;
    }

    .drag-and-drop-tasks {
        flex-direction: row;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: 8px;
    }

    .drag-and-drop-tasks::-webkit-scrollbar {
        display: none;
    }

    .task-board-card {
        min-width: 252px;
        -webkit-user-drag: none;
    }

    .search-wrapper {
        height: 32px;
    }

    .board-input {
        height: 29px;
        font-size: 18px;
    }

    .add-task-btn {
        padding: 6px;
    }

    .add-task-footer-dialog {
        background-color: white !important;
    }

    .no-task-found-message {
        top: 36px;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .headerDialogAddTask h2 {
        font-size: 2rem;
    }

    .task-board-card {
        min-width: 252px;
    }

    .priority-options {
        flex-direction: column;
    }
}

@media (max-width: 370px) {
    .add-task-button-dialog {
        padding-block: 0px !important;
        font-size: 0.8rem !important;
    }

    .add-task-buttons img {
        height: 65%;
    }
}