.main-content {
    display: flex;
    flex-direction: column;
    height: 84%;
    width: 100%;
    align-items: center;
}

.main-content-board-inner-hug {
    height: 100%;
    width: 100%;
}

.summary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

h2 {
    font-size: clamp(1.5rem, 0.5rem + 4vw, 4rem);
    margin-block-start: 0;
    margin-block-end: 0;
}

.input-task-btn {
    display: flex;
    align-items: self-start;
    gap: 24px;
}

.search-wrapper-ext-hug {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper {
    background: white;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-right: 12px;
}

.no-task-found-message {
    color: red;
    opacity: 0;
}

.no-task-found-message-showed {
    opacity: 1;
}

.board-input {
    height: 46px;
    font-size: 22px;
    border-radius: 8px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    cursor: pointer;
}

.search-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.search-icon img {
    padding: 5px;
}

.search-icon img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 50%;
}

.divider {
    width: 1px;
    height: 24px;
    background: lightgrey;
}

.add-task-btn {
    border: none;
    background: var(--main-color);
    font-size: 20px;
    height: 48px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding-inline: 24px;
    cursor: pointer;
}

.add-task-btn:hover {
    cursor: pointer;
    background-color: var(--easy-blue-color-secondary);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.kanban-board {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 80%;
}

.progress-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.progress-tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}

.add-task-on-board-btn {
    cursor: pointer;
    padding: 0;
    border: 2px solid black;
    height: 24px;
    width: 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.drag-and-drop-tasks {
    max-height: 82%;
    min-height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 125ms ease-in-out;
}

.task-board-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
    min-height: 216px;
    width: 99%;
    height: 216px;
    padding: 8px;
    transition: all 125ms ease-in-out;
}

.task-card-inner-hug {
    height: 100%;
}

.task-board-card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.task-card-header {
    height: 16%;
    display: flex;
    align-items: center;
}

.task-category {
    height: 80%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--easy-blue-color-secondary);
    color: white;

}

.task-card-body {
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.task-card-title,
.task-card-description {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
}

.task-card-title {
    font-size: 12px;
    font-weight: 700;
    max-height: calc(1.2em * 2);
}

.task-card-description {
    color: #A8A8A8;
    font-size: 12px;
    max-height: calc(1.2em * 2);
}

.subtask-progress-indicator {
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 100%;
}

.subtask-indicator-bar {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtask-indicator-bar100 {
    border: 1px solid var(--text-color-links);
    height: 30%;
    width: 50%;
    border-radius: 8px;
    background-color: var(--text-color-links);
}

.subtask-indicator-bar-current {
    height: 100%;
    background-color: var(--easy-blue-color-secondary);
    border-radius: 8px;
}

.subtask-indicator-in-number {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.subtask-progress-indicator:not(:has(.subtask-indicator-bar100)) .subtask-indicator-in-number {
    width: 0;
}

.task-assigned-contact-and-priority-indicator {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.assigned-contact-indicator {
    height: 80%;
    width: 80%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.assigned-contact-indicator-no-contact-selected {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority-indicator {
    height: 80%;
    width: 50%;
}

.board-card-assigned-contact-badge {
    border: 2px solid var(--background-color-body);
    width: 32px;
    border-radius: 50%;
    height: 32px;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.priority-indicator {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noTask-Container {
    color: grey;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    text-align: center;
    width: 100%;
    border: 1px dashed grey;
}