.main-contact-static-expanded-height {
    height: 84%;
    max-width: 1210px;
}


.contact-list {
    padding-left: 2rem;
    width: 28%;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.add-contact-button-parent {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-button {
    height: 50%;
    width: 96%;
    border-radius: 10px;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
}

.add-contact-button:hover {
    cursor: pointer;
    background-color: var(--easy-blue-color-secondary);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.contact-main-list-parent {
    max-height: 64vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.contact-card {
    min-height: 15vh;
    width: 96%;
    border-radius: 10px;
}

.letter-border {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leter-border-letter-box {
    height: 10vh;
    width: 19%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.letter-border-line {
    height: 2px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0px -2px 0px 0px #2b2b2b33;
    background-color: #2b2b2b00;
}

.contacts-member {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    transition: all 125ms ease-in-out;
}

.contacts-member:hover {
    cursor: pointer;
    background-color: #00000012;
}

.contact-member-selected {
    background-color: var(--main-color);
    color: white;
}

.contact-member-selected:hover {
    background-color: var(--main-color);
    color: white;
}

.contacts-member-circle-initial {
    width: 56px;
    height: 56px;
    margin-left: 8px;
    min-height: 56px;
    min-width: 56px;
    border-radius: 50%;
    background-color: var(--easy-blue-color-secondary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

.contacts-member-name-and-email-parent {
    width: 64%;
    height: 56px;
    max-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#editContactOverlayFormInitial {
    color: white;
    font-weight: 700;
    font-size: 54px;
}

.contacts-member-name {
    font-size: 20px;
}

.contacts-member-email {
    font-size: 14px;
    color: var(--easy-blue-color-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 186px;
}

.contact-expanded-field {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-expanded-field-inner-container {
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-responsive-back-button-parent {
    height: 8%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.contact-responsive-back-button-child {
    all: unset;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 125ms ease-in-out;
}

.contact-responsive-back-button-child:hover {
    cursor: pointer;
    background-color: var(--text-color-links);
}


.contact-static-title {
    height: 20%;
    display: flex;
    align-items: center;
    gap: 32px;
}

#contactCardExpandedRenderTarget {
    height: max-content;
    width: 72%;
    min-height: 49vh;
}

.contact-main-expanded-card {
    height: 49vh;
    width: 49vw;
}


.contact-txt {
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.contact-border-line {
    border: 2px solid var(--easy-blue-color-secondary);
    height: 62%;
    border-radius: 10px;
    background-color: var(--easy-blue-color-secondary);
}

.contact-border-line-responsive {
    border: 2px solid var(--easy-blue-color-secondary);
    height: 4px;
    border-radius: 10px;
    background-color: var(--easy-blue-color-secondary);
    width: 144px;
    display: none;
}

.contact-subtitle {
    font-size: 24px;
}

.contact-main-expanded-card {
    height: 49vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-expanded-name-and-functions {
    height: 40%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.contacts-member-circle-initial-expanded {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    min-width: 96px;
    min-height: 96px;
    background-color: var(--easy-blue-color-secondary);
    color: white;
    box-shadow: -2px 0px 5px 2px #2b2b2b33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.contacts-member-name-and-functions-expanded {
    width: 60%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-member-name-expanded {
    height: 75%;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.contacts-member-functions {
    height: 25%;
    display: flex;
}

.edit-delete-btns {
    all: unset;
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-delete-btns:hover {
    color: var(--hover-effect-dark);
    scale: calc(1.02);
    font-weight: 600;
}

.edit-delete-btns:hover img {
    filter: invert(70%) sepia(25%) saturate(898%) hue-rotate(150deg) brightness(36%) contrast(114%);
}

.function-edit {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 125ms ease-in-out;
}

.function-edit:hover {
    cursor: pointer;
    color: var(--easy-blue-color-secondary);
}

.function-delete {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 125ms ease-in-out;
}

.function-delete:hover {
    cursor: pointer;
    color: var(--easy-blue-color-secondary);
}

.contact-info-txt {
    height: 10%;
}

.contact-telephone-and-email-parent {
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39%;
}

.contact-email-txt {
    height: 23%;
    font-weight: 700;
}

.contact-email {
    height: 23%;
    font-size: 14px;
}

.contact-email a {
    color: var(--easy-blue-color-secondary);
}

.contact-phone-txt {
    height: 23%;
    font-weight: 700;
}

.contact-phone {
    height: 23%;
    font-size: 14px;
}

.contact-phone a {
    color: black;
}

.contact-success-message-parent {
    height: 12%;
    display: flex;
    align-items: center;
}

.adding-contact-sucess-alert-card {
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--main-color);
    color: white;
    opacity: 0;
}

@media (max-width: 768px) {
    .contact-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 8px;
    }

    .contact-expanded-field {
        width: 100%;
        align-items: unset;
        display: none;
    }

    .contact-expanded-field-inner-container {
        justify-content: unset;
        height: 96%;
    }

    .contact-responsive-back-button-parent {
        display: flex;
    }

    .contact-static-title {
        flex-direction: column;
        align-items: unset;
        gap: 8px;
    }

    .contact-txt {
        justify-content: unset;
        font-size: clamp(40px, 16svw, 56px);
    }

    .contact-border-line {
        display: none;
    }

    .contact-border-line-responsive {
        display: flex;
    }

    .contact-success-message-parent {
        display: none;
    }
}