.fade-in-effect-on {
    animation: fade-in 125ms ease-in 0s 1 normal forwards;
}

.fade-out-effect-on {
    animation: fade-out 125ms ease-in 0s 1 normal forwards;
}

.fade-in-responsive-contact-functions-effect-on {
    animation: fade-in-responsive-contact-functions 125ms ease-in 0s 1 normal forwards;
}

.fade-in-responsive-contact-functions-right-16 {
    right: 16px;
}

.fade-out-responsive-contact-functions-right-180 {
    right: -180px;
}

.fade-out-responsive-contact-functions-effect-on {
    animation: fade-out-responsive-contact-functions 125ms ease-in 0s 1 normal forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes fade-in-responsive-contact-functions {
    0% {
        opacity: 0;
        transform: translateX(-180px);
    }

    100% {
        opacity: 1;
        transform: translateX(16px);
        right: 24px;
    }
}

@keyframes fade-out-responsive-contact-functions {
    0% {
        opacity: 1;
        transform: translateX(24px);
        right: 24px;
    }

    100% {
        opacity: 0;
        transform: translateX(-180px);
        right: -180px;
    }
}

.contact-overlay-activated {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.fade-in-responsive-contact-functions-activated {
    right: 0px;
}

.contact-form-overlay-input-parent-focused {
    border: 2px solid var(--easy-blue-color-secondary);
}

.error-message-activated {
    border: 2px solid red;
}

@media(max-width:768px) {
    .fade-in-effect-on {
        animation: alert-slide-in-responsive 125ms ease-in 0s 1 normal forwards;
    }

    .fade-out-effect-on {
        animation: alert-slide-out-responsive 125ms ease-in 0s 1 normal forwards;
    }
}

@keyframes alert-slide-in-responsive {
    0% {
        opacity: 0;
        transform: translateY(100svw);
    }

    100% {
        opacity: 1;
        transform: translateY(0svw);
    }
}

@keyframes alert-slide-out-responsive {
    0% {
        opacity: 1;
        transform: translateY(0svw);
    }

    100% {
        opacity: 1;
        transform: translateY(100svw);
    }
}

.padding-80 {
    padding-left: 80px;
}

@media(max-width:768px) {
    .padding-80 {
        padding-left: unset;
    }
}