.h2-contact-txt {
    font-size: clamp(3rem, 1.78rem + 2.53vw, 4rem);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact-main-section {
    overflow-y: hidden;
}

.main-contact-static-expanded-height {
    height: 92%;
    max-width: 1210px;
    overflow: clip;
}


.contact-list {
    width: 36%;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding-inline: 24px;
}

.add-contact-button-parent {
    height: 16%;
    display: flex;
    align-items: center;
}

.add-contact-button {
    height: 50%;
    width: 100%;
    max-height: 56px;
    border-radius: 10px;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    transition: all 125ms ease-in-out;
}

.add-contact-button:hover {
    background-color: var(--hover-effect-dark);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
}

.contact-main-list-parent {
    max-height: 75%;
    overflow-x: clip;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.contact-card {
    border-radius: 10px;
    max-width: 352px;
}

.letter-border {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 58px;
    margin-bottom: 8px;
}

.leter-border-letter-box {
    height: 10vh;
    width: 19%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.letter-border-line {
    height: 2px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0px -2px 0px 0px #2b2b2b33;
    background-color: #2b2b2b00;
}

.contacts-member {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 125ms ease-in-out;
    min-height: 78px;
}

.contacts-member:hover {
    cursor: pointer;
    background-color: #00000012;
}

.contact-member-selected {
    background-color: var(--main-color);
    color: white;
}

.contact-member-selected:hover {
    background-color: var(--main-color);
    color: white;
}

.contacts-member-circle-initial {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--easy-blue-color-secondary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.contacts-member-name-and-email-parent {
    width: 64%;
    height: 56px;
    max-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#editContactOverlayFormInitial {
    color: white;
    font-weight: 700;
    font-size: 54px;
}

.contacts-member-name {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contacts-member-email {
    font-size: 16px;
    color: var(--easy-blue-color-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 186px;
}

.contact-expanded-field {
    width: 72%;
    display: flex;
    align-items: center;
    padding-top: clamp(48px, -27.32px + 9.81vw, 110px);
    padding-left: 32px;
}

.contact-expanded-field-inner-container {
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.contact-responsive-back-button-parent {
    height: 8%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.contact-responsive-back-button-child {
    all: unset;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 125ms ease-in-out;
}

.contact-responsive-back-button-child:hover {
    cursor: pointer;
    background-color: var(--text-color-links);
}

.contact-details-section {
    display: flex;
    flex-direction: column;
    max-height: 469px;
    gap: 16px;
}

.contact-static-title {
    height: max-content;
    display: flex;
    align-items: center;
    gap: 32px;
    max-height: 72px;
}

#contactCardExpandedRenderTarget {
    height: max-content;
    width: 72%;
    min-height: 364px;
}

.contact-main-expanded-card {
    height: 49svh;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 364px;
}

.contact-txt {
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.contact-border-line {
    border: 2px solid var(--easy-blue-color-secondary);
    height: 62%;
    border-radius: 10px;
    background-color: var(--easy-blue-color-secondary);
}

.contact-border-line-responsive {
    border: 2px solid var(--easy-blue-color-secondary);
    height: 4px;
    border-radius: 10px;
    background-color: var(--easy-blue-color-secondary);
    width: 144px;
    display: none;
}

.contact-subtitle {
    font-size: clamp(1.125rem, 10.101vw - 5.5732rem, 1.75rem);
}

.contact-expanded-name-and-functions {
    height: 40%;
    display: flex;
    align-items: center;
    gap: 32px;
    max-height: 120px;
    width: max-content;
    padding: 2px;
}

.contacts-member-circle-initial-expanded {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    min-width: 96px;
    min-height: 96px;
    background-color: var(--easy-blue-color-secondary);
    color: white;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 4px 0 #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.contacts-member-name-and-functions-expanded {
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 287px;
}

.contacts-member-name-expanded {
    height: 75%;
    font-size: 47px;
    width: max-content;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.contacts-member-functions {
    height: 25%;
    display: flex;
}

.edit-delete-btns {
    all: unset;
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-delete-btns:hover {
    color: var(--hover-effect-dark);
    scale: calc(1.02);
    font-weight: 600;
}

.edit-delete-btns:hover img {
    filter: invert(70%) sepia(25%) saturate(898%) hue-rotate(150deg) brightness(36%) contrast(114%);
}

.function-edit {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 125ms ease-in-out;
}

.function-edit:hover {
    cursor: pointer;
    color: var(--easy-blue-color-secondary);
}

.function-delete {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 125ms ease-in-out;
}

.function-delete:hover {
    cursor: pointer;
    color: var(--easy-blue-color-secondary);
}

.contact-info-txt {
    height: 10%;
    max-height: 74px;
    min-height: 74px;
    display: flex;
    align-items: center;
}

.contact-telephone-and-email-parent {
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39%;
}

.contact-email-txt {
    height: 23%;
    font-weight: 700;
}

.contact-email {
    height: 23%;
    font-size: 16px;
}

.contact-email a {
    color: var(--easy-blue-color-secondary);
}

.contact-phone-txt {
    height: 23%;
    font-weight: 700;
}

.contact-phone {
    height: 23%;
    font-size: 16px;
}

.contact-phone a {
    color: black;
}

.contact-success-message-parent {
    height: 12%;
    display: flex;
    align-items: center;
}

.adding-contact-sucess-alert-card {
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--main-color);
    color: white;
    opacity: 0;
}

.show-contact-functions-resp {
    all: unset;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--menu-hover);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 80px;
    right: 24px;
    display: none;
    transition: all 125ms ease-in-out;
}

.show-contact-functions-resp:hover {
    cursor: pointer;
    background-color: var(--hover-effect-dark);
}

.point {
    background-color: white;
    height: 14%;
    width: 14%;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .contact-main-section {
        overflow: hidden;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 8px;
        position: relative;
        justify-content: center;
    }

    .contact-expanded-field {
        width: 100%;
        align-items: unset;
        display: none;
        padding-top: unset;
    }

    .add-contact-button-parent {
        height: 0px;
        position: fixed;
        bottom: 16svh;
        width: max-content;
        right: 24px;
    }

    .add-contact-button {
        height: clamp(56px, 13svw, 80px);
        width: clamp(56px, 13svw, 80px);
        border-radius: 50%;
        max-height: unset;
        max-width: unset;
    }

    .add-contact-button span {
        display: none;
    }

    .contact-main-list-parent {
        max-height: 80svh;
        overflow-x: hidden;
    }


    .contact-expanded-field-inner-container {
        justify-content: unset;
        height: 96%;
    }

    .contact-responsive-back-button-parent {
        display: flex;
    }

    .contact-static-title {
        flex-direction: column;
        align-items: unset;
        gap: 8px;
        max-height: unset;
    }

    .contact-details-section {
        margin-top: 48px;
    }

    .contact-txt {
        justify-content: space-between;
        font-size: clamp(12px, 1.4rem + 2.5svw, 32px);
    }

    .contact-subtitle {
        font-size: clamp(12px, 0.8rem + 2.5svw, 32px);
    }

    .contacts-member-name-and-functions-expanded {
        min-width: unset;
        max-width: 220px;
    }

    .contacts-member-circle-initial-expanded {
        min-width: unset;
        min-height: unset;
        width: clamp(48px, 15svw, 80px);
        height: clamp(48px, 15svw, 80px);
        font-size: 24px;
    }

    .contact-border-line {
        display: none;
    }

    .contact-border-line-responsive {
        display: flex;
    }

    .contact-main-expanded-card {
        width: 100%;
        height: 50svh;
        overflow: auto;
        max-height: 274px;
    }

    #contactCardExpandedRenderTarget {
        width: 100%;
        min-height: 40svh;
    }

    .contacts-member-name-expanded {
        font-size: clamp(12px, 0.8rem + 2.5svw, 32px);
        height: 100%;
    }

    .contact-telephone-and-email-parent {
        width: max-content;
        min-height: 128px;
    }

    .contact-email-txt {
        display: flex;
        align-items: center;
    }

    .contact-email {
        display: flex;
        align-items: center;
    }

    .contact-phone-txt {
        display: flex;
        align-items: center;
    }

    .contact-phone {
        display: flex;
        align-items: center;
    }

    .contact-success-message-parent {
        display: none;
        position: fixed;
        background-color: #0000007a;
        top: 0;
        width: 100svw;
        height: 100svh;
        left: 0;
        justify-content: center;
    }

    .adding-contact-sucess-alert-card {
        opacity: 1;
        width: 96%;
        height: 12%;
        transform: translateY(100svw)
    }
}

@media(max-width:1024px) {
    .hide-in-resp {
        display: none;
    }

    .hide-body-scroll-bar-in-responsive {
        overflow: hidden;
    }

    .show-in-resp {
        display: flex;
    }
}

@media (max-width: 768px) {
    .show-contact-functions-resp {
        display: flex;
        bottom: 12svh;
    }

    .contacts-member-functions {
        border: 2px solid var(--menu-hover);
        flex-direction: column;
        width: clamp(86px, 24svw, 120px);
        height: 12svh;
        min-height: 90px;
        max-height: 132px;
        justify-content: center;
        gap: 8px;
        position: fixed;
        bottom: 12svh;
        right: -180px;
        border-radius: 20px 20px 0 20px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        background-color: white;
        z-index: 3;
    }
}

@media (max-width: 400px) {
    .contacts-member-circle-initial-expanded {
        font-size: 20px;
    }
}