.headerDialogAddTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.closeButton {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

.dialog-edit-form {
    overflow-y: auto;
    height: 90%;
}

.dialog-edit-rem {
    gap: 2rem;
}

.dialog-edit-form-height {
    height: 90%;
}

.add-task-footer-dialog {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: end;
}

.dialog-task-board-card {
    min-width: 36vw;
    height: 90vh;
    padding: 36px;
    max-width: 550px;
}

.dialog-task-board-card p {
    margin: 0;
}

.dialogAddTask {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 80vw;
    height: 80vh;
    max-width: 1150px;
}

.dialogDesign {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid var(--text-color-links);
    padding: 0;
    border-radius: 16px;
}

.dialog-task-card-inner-hug {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialog-task-card-header {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-close-btn {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.25rem;
    background-color: white;
}

.dialog-task-card-body {
    flex: 1;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    padding-block: 16px;
}

.dialog-task-card-title {
    font-size: 3rem;
    margin: 0;
}

.dialog-task-card-color {
    color: var(--main-color);
}

.dialog-task-card-distance {
    display: inline-block;
    width: 80px;
}

.dialog-assigned-contact-indicator {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    max-height: 24dvh;
    overflow-y: scroll;
    padding-left: 10px;
}

.dialog-assigned-contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dialog-assigned-contact-badge {
    width: 32px;
    border-radius: 50%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dialog-subtasks {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.input-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
}

.dialog-task-card-checkbox-label {
    font-size: 1rem;
}

.dialog-task-card-checkbox-subtask {}

.dialog-task-card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dialog-task-card-btn {
    border: none;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.border-left-btn {
    border-left: 1px solid var(--text-color-links);
}

ul {
    margin: 0;
    padding-left: 0.5rem;
    width: 440px;
    list-style-type: disc;
    list-style-position: inside;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
}

.actions {
    display: none;
    gap: 5px;
}

li:not(:has(input)):hover {
    background: var(--text-color-links);
}

li:hover .actions {
    display: flex;
}

.subtaskButton {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.subtaskButton img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(0);
}

.edit-input{
    border: none;
    height: 30px;
    width: unset;
}

.edit-input:focus {
  outline: none;
}

.delete-btn{
    border-left: 1px solid var(--text-color-links);
}

li:has(input){
    border-bottom: 2px solid var(--main-color);
    border-radius: unset;
}

li:has(input) .actions{
    display: flex;
}