@media (max-width: 500px) {
    .dialog-task-board-card {
        padding: 1rem;
    }

    .dialog-task-card-title {
        font-size: 1.6rem;
    }

    .dialog-edit-form-height {
        height: 90%;
    }

    .closeButton {
        height: 6%;
    }
}

@media (max-width: 360px) {
    .dialogAddAndEditTaskDesign {
        font-size: 16px;
    }
}