.helpH2 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-block-start: 0;
    margin-block-end: 0;

}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.help-content {
    height: 84%;
    max-width: 1210px;
    flex-direction: column;
    gap: 16px;
    margin-left: 64px;
    justify-content: center;
}

.help-title-container {
    height: 20%;
    max-width: 1016px;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-title-title {
    height: 100%;
    max-width: 144px;
    min-width: 144px;
}

.arrow-hug-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 450ms ease-in-out;
    /* button-default-override */
    padding-block: inherit;
    padding-inline: inherit;
    border-width: 0;
    border: 0;
    background-color: unset;
}

.arrow-hug-container:hover {
    background-color: var(--text-color-links);
    cursor: pointer;
}

.help-text-container {
    height: 76%;
    max-width: 1016px;
    max-height: 1024px;
    overflow: auto;
}

.join-help-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.join-how-to-use-title {
    margin-top: 16px;
    margin-bottom: 16px;
}

.join-how-to-use-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.join-how-to-use-step {
    display: flex;
    align-items: center;
    gap: 32px;
}

.step-number {
    font-weight: 700;
    font-size: 24px;
}