.legalNoticeH2 {
    font-weight: 700;
    font-size: clamp(3rem, 1.78rem + 2.53vw, 4rem);
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    padding-right: 8px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.legal-notice-content {
    height: 84%;
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    overflow: auto;
}

.legal-notice-title-container {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.legal-notice-text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1210px;
}


@media (max-width:370px) {
    .legalNoticeH2 {
        font-size: 2.5rem;
    }
}