.summary-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.summary-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    gap: 1rem;
}

.v-line-header {
    width: 2px;
    height: 40%;
    background-color: var(--easy-blue-color-secondary);
    margin: 8px 0 16px 0;
}

.summary-header h2 {
    font-size: 4rem;
}

.summary-header p {
    font-size: 2rem;
}

.summary-metrics {
    display: flex;
    width: 560px;
    justify-content: space-between;
    gap: 2rem;
}

.metric-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    flex: 1;
}

.flex-column{
    flex-direction: column;
}
.summary-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.bg-red {
    background-color: #FF3D00;
}
.summary-icon {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

.metric-card h2 {
    font-size: 4rem;
    margin: 0;
}

.metric-card p {
    font-size: 1.25rem;
}

.metric-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--main-color);
    color: white;
}

.metric-card:hover .summary-icon-container:not(.bg-red) {
    background-color: white;
}

.metric-card:hover .summary-icon-container:not(.bg-red) .summary-icon {
    filter: brightness(0);
    transform: scale(1.1);
}

.v-line-urgent {
    width: 2px;
    height: 80%;
    background-color: #D1D1D1;
    margin: 8px 0 16px 0;
}
.greeting-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    gap: 0.5rem;
}

.greeting-section h2 {
    font-size: 4rem;
    color: var(--easy-blue-color-secondary);
    margin: 0;
}

.greeting-section h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.transform-origin-left {
    transform-origin: left center;
}

.transform-origin-right {
    transform-origin: right center;
}

.transform-origin-top {
    transform-origin: top center;
}

.metric-card.transform-origin-top:hover {
    transform: scaleY(1.1);
}

.metric-card.transform-origin-top:hover .summary-icon-container {
    transform: scaleX(1.1);
}


