.body-summary {
    overflow: hidden;
}

.main-content {
    height: calc(100% - 96px);
    max-width: 1210px;
    overflow-y: auto;
}

.summary-container {
    display: flex;
    flex-direction: column;
    padding-top: clamp(48px, -27.32px + 9.81vw, 110px);
    padding-inline: clamp(16px, -81.2px + 12.66vw, 96px);
    width: 100%;
    height: 100%;
    gap: 56px;
}

.summary-header {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 625px;
}

.v-line-header {
    width: 3px;
    height: 80%;
    background-color: var(--easy-blue-color-secondary);
}

.h-line-header {
    display: none;
    width: 90px;
    height: 3px;
    background-color: var(--easy-blue-color-secondary);
}

.summary-header h2 {
    min-width: clamp(200px, 120.34px + 10.37vw, 250px);
    font-size: clamp(3rem, 1.78rem + 2.53vw, 4rem);
    margin: 0;
    font-family: Inter-Bold;
}

.summary-header p {
    font-size: 26px;
    margin: 0;
}

.metrics-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.summary-metrics {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    min-width: clamp(396px, 196.7px + 25.95vw, 560px);
    /* max-width: clamp(396px, 196.7px + 25.95vw, 560px); */
}

.metrics-wrapper>.summary-metrics:first-child {
    gap: 2rem;
}

.metric-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    gap: 20px;
    width: 100%;
    min-height: clamp(116px, 48.03px + 15.88vw, 170px);
    min-width: clamp(116px, 48.03px + 15.88vw, 170px);
    padding: 20px;
    position: relative;
    isolation: isolate;
}

.metric-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    border-radius: 30px;
    transform-origin: inherit;
    transition: transform 0.2s, background-color 0.2s;
    z-index: -1;
    box-shadow: 0px 0px 8px #00000066;
}

.metric-card>* {
    position: relative;
    z-index: 1;
}

.metric-card:hover {
    cursor: pointer;
    color: white;
}

.metric-card:hover::before {
    transform: scale(1.05);
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px #00000066;
}

.metric-greeting {
    display: flex;
    gap: clamp(32px, -26.3px + 7.59vw, 80px);
    padding-bottom: 16px;
}

.metric-card-gap {
    flex-direction: column;
    gap: 4px;
}

.summary-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 3.49px + 8.53vw, 69px);
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    border-radius: 50%;
}

.bg-red {
    background-color: #FF3D00;
}

.summary-icon {
    width: 50%;
    height: 50%;
    filter: brightness(0) invert(1);
}

.metric-card h2 {
    font-size: clamp(3rem, 1.78rem + 2.53vw, 4rem);
    margin: 0;
}

.metric-card h3 {
    font-size: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
    margin: 0;
}

.metric-card p {
    font-size: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
    margin: 0;
}

.metric-card:hover .summary-icon-container:not(.bg-red) {
    background-color: white;
}

.metric-card:hover .summary-icon-container:not(.bg-red) .summary-icon {
    filter: brightness(0);
}

.v-line-urgent {
    width: 2px;
    height: 80%;
    background-color: #D1D1D1;
    margin-inline: 30px;
}

.greeting-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

.greeting-section h2 {
    font-size: clamp(1.5rem, 0.5rem + 4vw, 4rem);
    color: var(--hover-effect-dark);
    margin: 0;
}

.greeting-section h3 {
    font-size: clamp(1rem, 0.6rem + 1.6vw, 2rem);
    font-weight: 500;
    margin: 0;
}

.transform-origin-left {
    transform-origin: left center;
}

.transform-origin-right {
    transform-origin: right center;
}

.transform-origin-top {
    transform-origin: top center;
}

.metric-card.transform-origin-top:hover::before {
    transform: scaleY(1.05);
    box-shadow: 0px 4px 4px #00000066;
}

.gap-between {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width:1220px) {
    .greeting-section {
        display: none;
    }

    html.pending-greeting .greeting-section {
        display: flex;
        position: fixed;
        inset: 0;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        padding-top: unset;
        background: var(--background-color-body);
        animation: fadeOutGreeting 3s forwards;
    }

    .greeting-section h2 {
        font-size: 48px;
    }

    .greeting-section h3 {
        font-size: 36px;
    }

    @keyframes fadeOutGreeting {

        0%,
        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

@media (max-width:768px) {
    .summary-container {
        overflow: auto;
    }

    .summary-header p {
        font-size: 24px;
    }

    .summary-metrics {
        gap: 1rem;
        min-width: clamp(396px, -32px + 100vw, 736px);
    }

    .summary-header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        width: unset;
    }

    .metrics-wrapper {
        gap: 1rem;
    }

    .v-line-urgent {
        margin: clamp(30px, -40.56px + 16.22vw, 84px);
    }

    .v-line-header {
        display: none;
    }

    .h-line-header {
        display: block;
    }
}

@media (max-width:435px) {
    .summary-metrics {
        gap: 0.5rem;
        min-width: clamp(288px, -26.18px + 98.18vw, 396px);
    }

    .metric-card {
        padding: clamp(0px, -58.18px + 18.18vw, 20px);
        min-width: unset;
    }

    .v-line-urgent {
        margin: clamp(0px, -87.27px + 27.27vw, 30px);
    }

    .metric-card h3 {
        font-size: 15px;
    }

    .metric-card p {
        font-size: 12px;
    }
}